body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: rgb(68, 68, 68);
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
  background: #f1f1f1;
  width: 60%;
  margin: 0 auto;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card-image {
  width: 1000px;
}